.reorderingAreas_tab {
    width: 30px;
    height: 15px;
    margin-left: -45px;
}
#sortableAreas_tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sortableAreas_tab li {
    padding: 1em 0em;
    height: 44px;
    border-top: 1px solid #BCC1C6;
    border-bottom: 1px solid #BCC1C6;
    list-style-position: inside;
    padding-top: 1.25em;
    width: 97%;
}
#sortableAreas_tab li:first-child {
    padding: 1em 0em;
    height: 44px;
    border-top: 1px solid #BCC1C6;
    border-bottom: 1px solid #BCC1C6;
    list-style-position: inside;
    padding-top: 1.25em;
    width: 97%;
}
.vertical-text-tab {
    -webkit-transform: rotate(-450deg);
    transform: rotate(-450deg);
    -ms-transform-origin: right bottom 0;
    -moz-transform-origin: right bottom 0;
    -webkit-transform-origin: right bottom 0;
    transform-origin: left top 10;
    background: #7A848D;
    color: #fff;
    text-transform: uppercase;
    text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
    /*box-shadow: 2px -2px 0px rgba(0, 0, 0, 0.1);*/
    float: right;
    text-align: center;
    height: 3% !important;
    padding: 5px;
}
.tieFlowTextTab {
    color: #7A848D;
    font-family: HelveticaNeue;
    font-size: 11pt;
}

.tablateCAEdit {
    width:12%;
    float:right;
    color:#408CC0;
}

.tablateCADone {
    width:12%;
    float:right;
    display:none;
    color:#408CC0;
}

.tablateCAHeading {
    text-align:center;
    float:left;
    width:88%;
}


.tablateCASubHeading {
    display:block;
}

.tablateMainHeadingCA {
    width :100%;
    padding:5px;
}

.mainContainerTablate {
    margin-top:40px;
}

.tablateCAAreaClass {
    width:20%;
    float:left;
    padding-left:8px;
    font-family: HelveticaNeue-Medium;
    font-size:12pt;
}

.subMainContainerTablate {
    width:100%;
    height:45px;
    border-bottom: 1px solid #BCC1C6;
    padding-top:15px;
}

.tablateCAActualClass {
    width:23%;
    float:left;
    font-family: HelveticaNeue-Medium;
    font-size:12pt;
    text-align:center;
}

.tablateScheduledClass {
    width:23%;
    float:left;
    font-family: HelveticaNeue-Medium;
    font-size:12pt;
    text-align:center;
    margin-left:-3%;
}

.tablateLoopFlowClass {
    width:32%;
    float:left;
    font-family: HelveticaNeue-Medium;
    font-size:12pt;
    text-align:left;
    padding-left:2%
}

.sortableAreasTabHeading {
    width:96%;
    float:left;
}

.verticalTextWidth_tab {
    width:3%;
    float:right;
    margin-top:-30px
}

