<div id="feedbackView" data-role="view" data-title="Feedback" data-layout="pjm-default" style="visibility:visible !important;">
    <link href="components/more/feedback/feedback.css" rel="stylesheet" />
    <div data-role="header">
        <div data-role="navbar">
            <a href="#moreView" data-role="button" data-align="left" class="bc-more" data-click="backToMoreFromFeedback" data-icon="leftArrow">More</a>
            <div class='mainTitle'>
                <span data-role="view-title"></span>
            </div>
        </div>
    </div>
    <div id='feedbackWhite' class='mapdivclr'>
        <div class='moreContent'>
            Report an issue, ask a question or let us know how we can improve PJM Now:
        </div>
        <br>
        <div class='feedbackButtonDiv' align='center'>
            <a class='feedbackButton' data-role="button" data-click="composeEmail">Give Feedback</a>
        </div>
    </div>
     <script src="components/more/feedback/feedback.js"></script>
</div>
