.feedbackButtonDiv .km-button {
            font-family: HelveticaNeue-Light;
            text-align: center !important;
            font-size: 17pt !important;
            border-radius: 10px !important;
            background-color: #408CC0 !important;
            color: white !important;
            width: 310px !important;
            height: 45px;
            min-height: 48px !important;
            max-height: 150px;
            line-height:45px; 
}