.setZoneMainDivBG {
    background-color: #EBEDEE !important;
}

.enterZoneHeading {
    text-align: center;
    color:black;
    margin-top:15%;
}

.LMPValueTextAlignment {
    text-align: center;
    margin-top:8%
}

.LMPTextValueColorBG {
    width:60px;
    color:black;
    background-color:#EBEDEE;
}

.LMPTextInformation {
    margin-top:7%;
    margin-left:3%;
}

.keyboardTableStyle {
    border-color:#BCC1C6;
    border-radius:1px;
    margin-top:0%;
}