<div id="aboutView" data-role="view" data-title="About PJM" data-layout="pjm-default" data-before-show="aboutPJMInit" style="visibility:visible !important;">   
    <link href="components/more/aboutPJM/aboutPJM.css" rel="stylesheet" />
    <script src="components/more/aboutPJM/aboutPJM.js"></script>
    <div data-role="header">
        <div data-role="navbar">
            <a href="#moreView" data-role="button" data-align="left" class="bc-more"  data-click="backToMoreFromAboutPJM" data-icon="leftArrow">
                More</a>
            <div class='mainTitle'>
                <span data-role="view-title"></span>
            </div>
        </div>
    </div>
    <div id='aboutPJMWhite' class='mapdivclr'>
        <div class='moreContent' id="aboutPJMContentId">
            
        </div>
        <div class='visitPJMButtonDiv' align='center'>
            <a class='visitPJMButton' data-role="button" data-click="goToWebsite">Visit pjm.com</a>
        </div>
    </div>
</div>
