<div data-role="view" id="zoneLMPListView" data-title="Zone LMP" data-layout="pjm-default" data-init="initPullToRefreshForZoneLMPList" style="visibility:visible !important;" data-before-show="zoneLMPListInit">
    <div data-role="header">
        <div data-role="navbar">
            <a onclick="backToZoneLMPView();" id="mapName" data-role='button' data-align='left' class='bc-lef'  data-icon="leftArrow" data-transition="slide:right">Map</a>
            <span data-role="view-title" class="zone-lmp-tit"></span>
            <a id='editSorting' data-role="button" data-align="right">Edit</a>
            <a id='doneSorting' data-role="button" data-align="right" style='display:none'>Done</a>
        </div>
    </div>
    <div class='mapdivclr' id='zoneLMPListWhite'>
        <div id="refreshmap" class="divbg">
            <center id='updateImg' style="display:none;padding-bottom:25px;padding-top:25px;">
                <div><img id='rotatingImg' src='styles/images/rotate.png' height='25px' />
                </div>
                <span>Updating</span>
            </center>
            <div id="zoneLMP-listview" class="clearWhite">
                <div class='wrap' id='tPar'>
                    <div class='asof datediv' id='asof'></div>
                    <br>
                    <div class='list-head' id='head1'>
                        <div class='zone-hub'>Zone/Hub</div>
                        <div class='lmp-mw'>LMP ($/MW)</div>
                    </div>
                </div>
                <div class='clearWhite'>
                    <ul data-role='listview' data-click='clickOnZoneLMPTableList' id="sortable" class='sortablelist'   style="overflow-y:scroll;" >
                </div>
            </div>
        </div>
    </div>
    <link href="components/zoneLMPList/zoneLMPList.css" rel="stylesheet" />
    <script src="components/zoneLMPList/zoneLMPList.js" type="text/javascript"></script>
</div>