<div id="legalDisclaimerView" data-role="view" data-title="Legal Disclaimer" data-layout="pjm-default" style="visibility:visible !important;">
    <link href="components/more/legalDisclaimer/legalDisclaimer.css" rel="stylesheet" />
    <div data-role="header">
        <div data-role="navbar">
            <a href="#moreView" data-role="button" data-align="left" class="bc-more" data-click="legalDisclaimerLock" data-transition='slide:right' data-icon="leftArrow">More</a>
            <div class='mainTitle'>
                <span data-role="view-title"></span>
            </div>
        </div>
    </div>
    <div id='legalWhite' class='mapdivclr' style='overflow-y:scroll;'>
        <div class='moreContent' class='mapdivclr'>
            The PJM Now app exists to provide a clear understanding of the concepts and terms used by PJM. 
            The information provided in the PJM Now app is for informational and educational purposes only, and should not be relied upon to govern business or financial decisions.
            <br>
            <br> PJM expressly disclaims any obligation to correct or 
            update information contained in the PJM Now app, or any warranty of any kind, whether expressed or 
            implied, as to any information or other matters whatsoever arising from or the information contained 
            in the PJM Now app. Entities utilizing the PJM Now app and relying on the information contained herein 
            do so at their own risk. In no event shall PJM be liable for any damages of any kind, including, but not 
            limited to, direct, indirect, general, special, incidental or consequential damages arising out of any use of the information contained therein.
        </div>
    </div>
    <script src="components/more/legalDisclaimer/legalDisclaimer.js"></script>
</div>